#basic{
    text-align: center;
 
}
h3
{
    font-size: 25px;
color:black;
}

#cert{
    margin-left: 200px;
    margin-bottom:500px;
}
#pro{

margin-left: 200px;
}
#ref{
    margin-left: 200px;
}   
#edu{
    margin-left: 200px;  
}